
   .header {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .aarthi{
        margin-left: 100px;
        font-family:'Thasadith', sans-serif;
        font-size: 30px;
        color: #3a3a3a;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.7;
        transition: background-color 1s ease;
        background-color: white;
    }
    a.aarthi:hover{
        opacity: 1;
        background: rgb(255, 193, 201);
    }

    .projects{
        margin-right: 175px;
        font-family:'Thasadith', sans-serif;
        font-size: 30px;
        color: #3a3a3a;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.7;
        transition: background-color 1s ease;
        background-color: white;
    }
    a.projects:hover{
        opacity: 1;
        background: rgb(255, 193, 201);
    }
    .resume{
        margin-right: 50px;
        font-family:'Thasadith', sans-serif;
        font-size: 30px;
        color: #3a3a3a;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.7;
        transition: background-color 1s ease;
        background-color: white;
    }
    a.resume:hover{
        opacity: 1;
        background: rgb(255, 193, 201);;
    }
    .about{
        margin-right: 50px;
        font-family:'Thasadith', sans-serif;
        font-size: 30px;
        color: #3a3a3a;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.7;
        transition: background-color 1s ease;
        background-color: white;
    }
    a.about:hover{
        opacity: 1;
        background: rgb(255, 193, 201);
    }