nav .navigation .navlink a:hover, nav a:hover {
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  -moz-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

nav .navigation .navlink, nav .navigation, nav a, nav button ul, nav button {
  padding: 0;
  margin: 0;
}

nav .navigation .navlink a:hover, nav a:hover {
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  -moz-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: "Thasadith", sans-serif;
  color: #3a3a3a;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 100%;
  -moz-box-flex: 1 1 100%;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 1em;
  justify-content: space-between;
}
nav button {
  background: transparent;
  border: none;
}
nav button ul {
  list-style: none;
  padding: 1em;
}
nav button ul .line {
  background: #3a3a3a;
  width: 20px;
  height: 3px;
  margin: 3px;
}
nav a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1em;
  opacity: 0.7;
  font-size: 1.5em;
  text-decoration: none;
  color: #3a3a3a;
  font-weight: bold;
  padding: 10px 1em;
}
nav a:hover {
  background: rgba(255, 145, 159, 0.5);
  opacity: 1;
}
nav .navigation {
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0 1 50%;
  -moz-box-flex: 0 1 50%;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
nav .navigation .navlink {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
nav .navigation .navlink a {
  font-size: 1.5em;
  color: #3a3a3a;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 1em;
  opacity: 0.7;
}
nav .navigation .navlink a:hover {
  background: rgba(255, 145, 159, 0.5);
  opacity: 1;
}

.toggled nav button {
  visibility: visible;
}

main {
  padding: 2em;
  height: 80vh;
}

.intro {
  position: relative;
  z-index: 2;
  width: 60%;
}
.intro:after {
  content: " ";
  height: 30em;
  width: 30em;
  position: absolute;
  right: -25em;
  top: 1em;
  border: 5px solid #ff919f;
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1506318164473-2dfd3ede3623?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.projects{
  position: relative;
  z-index: 2;
  width: 100%;
  justify-content: left;
  margin-left: 0.5in;
}
.imagegallery{
    position: relative;
    z-index: 2;
    width: 100%;
    justify-content: center;
    margin-left: 5in;
    margin-right: 5in;
    text-align: center;
}

.heythere {
  color: #3a3a3a;
  font-size: 3em;
  padding: 0 1em;
  font-weight: normal;
}
.title {
  color: #3a3a3a;
  font-size: 3em;
  padding: 0 1em;
  font-weight: normal;
}
.subtitle{
  color: #3a3a3a;
  font-size: 1.5em;
  padding: 0 1em;
  font-weight: normal;
}
.quickexpo {
  padding: 0 2.1em;
  position: relative;
  font-size: 1.5em;
  font-weight: lighter;
  color: #3a3a3a;
}
.quickexpo:after {
  content: " ";
  height: 0em;
  width: 10em;
  border: 5px solid #ff919f;
  display: block;
  margin-top: 10px;
}

/* This is for Image Galleries*/ 
.picrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.piccolumn {
  flex: 50%;
  padding: 0 4px;
  margin-bottom: 3.5in;
  text-align: center;
}

.piccolumn img {
  margin-top: 8px;
  vertical-align: middle;
  text-align: center;
}


.zoomjuniorthesis {
  transition: transform .2s; /* Animation */
  width: 449px;
  height: 300px;
  margin-bottom: 0.5in;
}

.zoomjuniorthesis:hover {
  transform: scale(0.75); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.textbox{
 margin-left: 0.5in;
 margin-right: 0.5in;
 justify-content: left;
 width: 4in;
}

